@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300&display=swap');
@import "mediaQuaries";
@import "reset";


@font-face{
    font-family: 'play';
    src: url("../fonts/\ PublicaPlay.otf");
    font-style: normal;
    font-weight: 100;
}

//variables

$notBlack:#101111;
$notWhite:#eeeeee;
$theFont: 'MuseoModerno', Montserrat, sans-serif;
$smallFont: 'Mukta Vaani', sans-serif;
//mixin

@mixin navi{
    width: 100vw;
    height: 10vh;
    margin: auto;
    padding:5% 5% ;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center; 
    z-index: 999;

}

@mixin Lexand{
    font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    letter-spacing: -10px;
}

@mixin Casta {
    font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: expanded;
    letter-spacing: 3px;
}

@mixin marquee{

    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
    }
          
    li{
        
        will-change: transform;
        animation: marquee 2s linear infinite;

    
    }
}


//Nav

nav{
    @include navi;
    background: rgb(238,238,238);
background: -moz-linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 60%, rgba(238,238,238,0) 96%);
background: -webkit-linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 60%, rgba(238,238,238,0) 96%);
background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 60%, rgba(238,238,238,0) 96%);

    @include Lexand;
    transform: translateY(-200px);
    letter-spacing: -2px;
    text-transform: uppercase;
    

    .logo-name{
        height: auto;
        // width: 300px;
        
    }

    .logo{
        height: auto;
        width: 50px;
          
    }

    .menu-bar{
        
        width: 130px;
        font-size: 1.2rem;
        
        text-decoration-style: none;
        

        a{
            text-decoration: none;
            color: black;
        }
    }
    a:visited {
        text-decoration: none;
      }

}
@include media("<=900px"){
    nav{
   height: auto;
    }


}


//About

.main-cont{
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    
    .carousal{
        width: 100%;
        height: 100%;
        border-bottom: 10px solid $notBlack;

        
        
        .slider{
            // @include marquee;
            width: 150%;
            height:80% ;
            
            // overflow:  
            display: flex;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            // justify-items: start;
            // column-gap: 13rem;
            white-space: nowrap;
            // transition: all 1s;


            li{
                width: 50%;
                height: 300px; /*<<--adjust*/
                padding: 0 9rem;

                font-family: play;
                font-size: 16rem; 


            }
        }

        //perspective hover

        .menu-content {
                        
            perspective: 400px;
        
            .child {
                width: 100%;
                height: 100%;
                position: relative;
                transform-style: preserve-3d;
                transform: translateZ(-100px);
                transition: transform 500ms;
        
                .cube__face {
                    position: absolute;
                    width: max-content;
                    padding: 0 200px;
                    height: 100%;
                    border-radius: 500px;
                    font-weight: bold;
                    color: $notWhite;
                    background-color: $notBlack;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 10px;
                    backface-visibility: hidden;

                    p{
                        font-family: play;
                        font-size: 12rem; 
                        position: relative;
                        top: -20px;
                    }

                }
        
                .cube__face--front  { transform: rotateY(  0deg) translateZ(150px); }/*<<--adjust*/
                .cube__face--top    { transform: rotateX( 90deg) translateZ(150px); }/*<<--adjust*/
                
            }
            &:hover .child { transform:  translateZ(-80px) rotateX( -90deg) ; }
          }
    }
}

//----------------------------------

.project-hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    // overflow-x: hidden;

    .hero-title{
        position: absolute;

        h2{
            font-family: $theFont;
            font-size: 20rem;
            color: $notBlack;
    
        }

        &:nth-child(1){
            top: 22%;
            left: 10%;
        }
        &:nth-child(2){
            bottom: 20%;
            right: 10%;
            z-index: 1;
        }


    }

    .hero-image{
        width: 50%;
        height: 0%;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        // background: tomato;
        overflow: hidden;
        transform-origin: 50% 50%;
        -webkit-box-shadow: 31px 54px 122px -16px rgba(0,0,0,0.41);
        -moz-box-shadow: 31px 54px 122px -16px rgba(0,0,0,0.41);
        box-shadow: 31px 54px 122px -16px rgba(0,0,0,0.41);
        // align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 100%;

          }  
    }


}

@include media("<=1388px"){
    .project-hero{

        .hero-title{
    
            h2{
                font-size: 15rem;       
            }
    
            &:nth-child(1){
                top: 22%;
                left: 10%;
            }
            &:nth-child(2){
                bottom: 40%;
                right: 10%;
                z-index: 1;
            }
        }
    
        .hero-image{
            width: 0%;
            height: 50%;
            top: 35%;

        }
    }
}
@include media("<=900px"){
    .project-hero{

        .hero-title{
    
            h2{
                font-size: 15rem;       
            }
    
            &:nth-child(1){
                top: 22%;
                left: 10%;
            }
            &:nth-child(2){
                bottom: 40%;
                right: 10%;
                z-index: 1;
            }
        }
    
        .hero-image{
            width: 70%;
            height: 90%;
            top: 35%;

        }
    }
}
@include media("<=700px"){
    .project-hero{

        .hero-title{
             z-index: 999;  

    
            h2{
                font-size: 10rem; 
                 
            }
    
            &:nth-child(1){
                top: 22%;
                left: 10%;
            }
            &:nth-child(2){
                bottom: 50%;
                right: 10%;
                z-index: 1;
            }
        }
    
        .hero-image{
            width: 80%;
            height: 60%;
            top: 35%;

        }
    }
}
@include media("<=450px"){
    .project-hero{

        .hero-title{
    
            h2{
                font-size: 4.8rem; 
                   
            }
    
            &:nth-child(1){
                top: 22%;
                left: 0%;
            }
            &:nth-child(2){
                top:30%;
                right: 0%;
                z-index: 1;
            }
        }
    
        .hero-image{
            width: 80%;
            height: 70%;
            top: 25%;
            

        }
    }
}


.project-info{
    max-width:1200px;
    margin: 20vh auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 4rem;



    .project-title{
    //    width: 30%; 
       height: auto;

       h2{
           font-size:2.5rem;
           font-family: $theFont;
       }

    

        .tools{

            width: 40%; 
            height: auto;

            h3{
                font-size:1.5rem;
                font-family: $theFont;
                margin: 20px 0 10px; 
            }

            ul{
                li{
                    font-family: Helvetica, sans-serif;
                    font-size:1rem;
                    margin: 10px 0;  
                }
            }

        }
    }

    .project-disc{
        // width: 60%;
        height: auto;

        p{
            font-family: "Mukta Vaani", sans-serif;
            font-size:1.5rem; 
            line-height: 1.5;
        }
    }

    .project-year{
        // margin-left:40px ;
        // width: 200px;       
        height: auto;
        font-size:2.5rem;
        font-family: $theFont;
        text-align: center;

            p{  width:90px;
                font-size: 1rem;
                margin: 0 auto;
                padding: 20px 1px;
                background-color: greenyellow;
                border-radius: 50px;
            }
            
        
    }
}
@include media("<=1388px"){

    .project-info{
        max-width:1200px;
        margin: 15vh 60px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        column-gap: 4rem;

        .project-title{

    
           h2{
               font-size:2rem;
               font-family: $theFont;
           }
    
        
    
            .tools{
    
                width: 40%; 
                height: auto;
    
                h3{
                    font-size:1.5rem;

                }
    
                ul{
                    li{
                        font-family: "Mukta Vaani", sans-serif;
                        font-size:1rem;
                        
                    }
                }
    
            }
        }
    
        .project-disc{

            p{
                font-size:1.2rem; 

            }
        }
    
        .project-year{

            font-size:2rem;

    
                p{
                    font-size: 1rem;
                    margin: 10px;
                    padding: 20px 1px;
                    background-color: greenyellow;
                    border-radius: 50px;
                }
                
            
        }
    }

}
@include media("<900px"){

    .project-info{
        max-width:1200px;
        margin: 0 60px;
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2rem;
        overflow: visible;

        .project-title{

            grid-column: 1 / 2;
    
           h2{
               font-size:2rem;
               font-family: $theFont;
           }
    
        
    
            .tools{
    
                width: 40%; 
                height: auto;
    
                h3{
                    font-size:1.5rem;

                }
    
                ul{
                    li{
                        font-family: "Mukta Vaani", sans-serif;
                        font-size:1rem;
                        
                    }
                }
    
            }
        }
    
        .project-disc{
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            p{
                font-size:1.2rem; 

            }
        }
    
        .project-year{

            font-size:2rem;
            grid-column: 2 / 3;
            justify-self: end;

    
                p{
                    font-size: 1rem;
                    margin: 10px;
                    padding: 20px 1px;
                    background-color: greenyellow;
                    border-radius: 50px;
                }
                
            
        }
    }

}

@mixin arrow {
    height: auto;
    position: absolute;
}

// .next-project-tilt{
    
//     //  
// }    

.next-project{
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    transform: rotate(-3deg);

    a{
        text-decoration: none;   
    }

    .strap{
        height: 130px;
        width: 250%;
        background: $notBlack;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translate(-30%);
        // transform: rotate(-3deg);
        position: relative;
        top:35%;



        p{
            color: $notWhite;
            font-family: Helvetica, sans-serif;
            font-size:4.5rem; 
            line-height: 1.5;  
            text-decoration: none;   
            
        }
    }
    
    .arrow:nth-child(2){
        @include arrow();
        width: 200px;
        right: 10%;
        top: 5%;
        transform: rotate(3deg);

    }
    .arrow:nth-child(3){
        @include arrow();
        width: 300px;
        left: 10%;
        top: 50%;
        transform: rotate(3deg);
    }
}
@include media("<=1388px"){
    .next-project{
        width: 100%;
        height: 60vh;
        margin-top: 15%;
        position: relative;
        transform: rotate(-3deg);
    
        .strap{
            height: 130px;
            width: 250%;
            background: $notBlack;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform: translate(-30%);
            // transform: rotate(-3deg);
            position: relative;
            top:35%;
    
            p{
                font-size:3.5rem; 
            }
        }
        
        .arrow:nth-child(2){
            @include arrow();
            width: 200px;
            right: 10%;
            top: 5%;
    
        }
        .arrow:nth-child(3){
            @include arrow();
            width: 250px;
            left: 10%;
            top: 50%;
        }
    }  
}
@include media("<=900px"){
    .next-project{
        width: 100%;
        height: 60vh;
        margin-top: 15%;
        position: relative;
        transform: rotate(-3deg);
    
        .strap{
            height: 100px;
            width: 250%;
            background: $notBlack;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform: translate(-30%);
            // transform: rotate(-3deg);
            position: relative;
            top:35%;
    
            p{
                font-size:2.1rem; 
            }
        }
        
        .arrow:nth-child(2){
            @include arrow();
            width: 120px;
            right: 10%;
            top: 13%;
    
        }
        .arrow:nth-child(3){
            @include arrow();
            width: 200px;
            left: 10%;
            top: 50%;
        }
    }  
}
@include media("<=500px"){
    .next-project{
        width: 100%;
        height: 60vh;
        margin-top: 15%;
        position: relative;
        transform: rotate(-3deg);
    
        .strap{
            height: 80px;
            width: 250%;
            background: $notBlack;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform: translate(-30%);
            // transform: rotate(-3deg);
            position: relative;
            top:35%;
    
            p{
                font-size:1.3rem; 
            }
        }
        
        .arrow:nth-child(2){
            @include arrow();
            width: 80px;
            right: 10%;
            top: 13%;
    
        }
        .arrow:nth-child(3){
            @include arrow();
            display: none;
            width: 140px;
            left: 10%;
            top: 50%;
        }
    }  
}





//Main page

.Hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    .Hero-Contents{
        width: 70%;
        height: 100%;
    
        position: relative;
        display: grid;
        grid-template-columns: 1.2fr 1fr;    
        justify-items: center;
        align-items: center;

        .hero-intro{
            display: flex;
            flex-direction: column;

            h2{
                font-size: 2.5rem;
                letter-spacing: 3px;
                @include Casta;
                margin-bottom: 6%;
            }
            h1{
                font-size: 6rem;
                text-transform: uppercase;
                @include Lexand;
            }

            .fontchange > h1{
                font-size: 8rem;
                text-transform: uppercase;
                @include Casta;
                
            }
            h3{
                font-size: 1.6rem;
                @include Casta;
                
            }
            .ht_5{
                margin-top: 10%;
            }

            
        }
        .ht_2, .ht_5, .ht_6{
            position: relative;
            left:10%;
        }
        .ht_3{
            position: relative;
            top: 10px;
            left:60%;

        }
        .ht_4{
            position: relative;
            left:-20%;
        }

        .hero-intro-image{
            width: 100%;
            height: 65%;
            position: relative;
            top:7%;
            z-index: -3;

            figure{

                width: 100%;
                height: 100%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 100%;
                }

            }

            .hi_2{
                width: max-content;
                background-color: $notBlack;
                padding: 20px 60px;
                border-radius: 100px;
                flex-wrap: nowrap;
                position: relative;
                top: -25%;
                left: -10%;
                
                p{
                    color: white;
                    font-size: 2rem;
                    @include Casta;
                    letter-spacing: 0px;
                }
            }
        }


    }

    .about_content-hero{
        width:60%;

        
        div{
            width: 100%;
            position: relative;
            display: flex;
            font-family: $theFont;
            
            p{
                color: $notBlack;
                font-family: $theFont; 
                font-size:4rem; 
                line-height: 1.5; 
                justify-self: center; 
                z-index: 2; 
                
            }
            h2{
                color: $notBlack;
                font-family: $theFont;
                font-size:6.5rem; 
                z-index: 9;
                line-height: 1.5;  
                // mix-blend-mode: difference; 
                // fancy gradient thing
                &:hover + div{
                    width: 800px;
                    position: absolute;
                    top:-100px;
                    right: 150px;
                    z-index: -9;



                }
                .blinds{
                    display: block;
                    height: 50%;
                }
            }
            .blinds::after{
                content: '';
                width: 100%;
                height: 100%;
                background-color: $notWhite;
                position: absolute;
                left: 0;
                transform-origin: 0 100%;
                z-index: 1;

            }    
        }


            div:nth-child(2){
            
            // height: 60vh;
            display: flex;


            div{
                width: 110px;
                // height: 110px;
                border-radius: 800px;
                overflow: hidden;
                position: absolute;
                top: 198px;
                left: 380px;
                will-change: auto;
                // transition: all 1s cubic-bezier(.64,0,.23,.99);
                

                img{
                    // position: absolute;
                    width: 100%;
                    // z-index: -1;
                } 
            }
            
        }
        // div:nth-child(3){
        //     justify-content: flex-end;
        // }

    }
    @include media("<=1388px"){
        .about_content-hero{
            width:70%;
        
            div{

                    p{

                        font-size:3rem; 
        
                    }
                    h2{

                        font-size:5rem; 

                        &:hover + div{
                            width: 600px;
                            top:-240px;
                            right: 150px;
                        }
                }
                
            }
            div:nth-child(2){
            
                // height: 60vh;
                display: flex;
    
    
                div{
                    display: none;
                    top: 160px;
                    left: 350px;
                }
                
            }
        }
    }
    @include media("<=900px"){
        .about_content-hero{
            width:80%;
        
            div{

                    p{

                        font-size:2rem; 
        
                    }
                    h2{

                        font-size:4.5rem; 

                        &:hover + div{
                            width: 110px;
                            width: 600px;
                            top: 120px;
                            left: 300px;
                        }
                }
                
            }
            div:nth-child(2){
            
                // height: 60vh;
                display: flex;
    
    
                div{
                    top: 120px;
                    left: 300px;
                }
                
            }
        }
    }
    @include media("<=500px"){
        .about_content-hero{
            width:80%;
        
            div{

                    p{

                        font-size:2rem; 
        
                    }
                    h2{

                        font-size:4.5rem; 

                        &:hover + div{
                            width: 110px;
                            width: 600px;
                            top: 0;
                            left: 0;
                        }
                    }
                    .blinds::after{
                        display: none;
                        content: '';
                        width: 100%;
                        height: 0;
                        background-color: $notWhite;
                        position: absolute;
                        left: 0;
                        transform-origin: 0 100%;
                        z-index: 1;
        
                    }    
                
                }
            div:nth-child(2){
            
                // height: 60vh;
                display: flex;

                h2 > span:first-child{
                    line-height: 1;
                }
    
    
                div{
                    top: 120px;
                    left: 250px;
                }
                
            }
        }
    }
}

.about-content{
    width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center;

    .about-me, .myExp, .mySkills{
        column-gap: 13rem;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 2fr;

        h3{
            color: $notBlack;
            font-family: $theFont;
            font-size:2.5rem; 
            z-index: 9;
            line-height: 1.5; 

        }

        p{
            color: $notBlack;
            font-family: $smallFont; 
            font-size:1.5rem; 
            line-height: 1.5;  
        }

    }

    @include media("<=1388px"){
        .about-me, .myExp, .mySkills{
            width: 70%;
            column-gap: 8rem;
        }
    } 
    @include media("<=900px"){
        .about-me, .myExp, .mySkills{
            width: 80%;
            column-gap: 1rem;
    
            h3{
                color: $notBlack;
                font-family: $theFont;
                font-size:2rem; 
                z-index: 9;
                line-height: 1.5; 
    
            }
    
            p{
                color: $notBlack;
                font-family: $smallFont; 
                font-size:1.2rem; 
                line-height: 1.5;  
            }
        }    
    }
    @include media("<=500px"){
        .about-me, .myExp, .mySkills{
            width: 60%;
            display: grid;
            grid-template-columns: 1fr;
    
            h3{
                font-size:2rem; 
                margin-bottom:1.5rem;
            }
    
            p{
                font-size:1.1rem; 
            }
        } 
    }

}

.about-cont{
    height: 60vh;
}

.myExp, .mySkills{
    
    .timeline, .skill{
        color: $notBlack;
        font-family: $smallFont; 
        font-size:2.2rem; 
        line-height: 1; 
        position: relative;
        top: -20px;
        
        li{
            margin:20px;
        }
        
        .time{
            width: max-content;
            font-family: $theFont;
            font-size:1rem; 

        }
    }
}

//--------Contacts-----------

.contacts{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .contacts-cont{

        
        p{
            color: $notBlack;
            font-family: $smallFont; 
            font-size:1.5rem; 
            line-height: 1.5;   
        }

        a{
            color: $notBlack;
            font-family: $theFont; 
            font-size:4.5rem; 
            line-height: 1.5; 
            color: $notBlack;
            text-decoration: none; 
        }

        .follow-me{
            width: 300px;
            display: flex;
            justify-content: space-between;

        }
        li{
            font-family: $theFont; 
            
            a{
                font-size: 1.2rem;
                margin: 10px 0;
            }
        }

        // @include media("<=desktop"){
        //     a{
        //         font-size:3.5rem; 
        //     }
        // }
    }
    @include media("<=1388px"){
        .contacts-cont{

            a{
                font-size:4.0rem; 

            }
    
        }    
    }
    @include media("<=900px"){
        .contacts-cont{

            a{
                font-size:2.8rem; 

            }
            .follow-me{
                width: 100%;
                display: flex;
                justify-content: space-between;
    
            }
    
        }    
    }
    @include media("<=600px"){
        .contacts-cont{

            a{
                font-size:2.2rem; 

            }
            .follow-me {
                ul{
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                }

            }
            .follow-me > p{
                display: none;

            }



    
        }    
    }

}

//-------------------------------

.work-content{
    display: flex; 
    flex-direction: column;   
    justify-content: center;
    

    h3{
        color: $notBlack;
        font-family: $theFont;
        font-size:2.5rem; 
        z-index: 9;
        line-height: 1.5; 

    }

    .work{
        width: 60%;
        margin: 0 auto;
        display: grid;

        h3{
            justify-self: center;
        }
        
        .project_btn{
            margin: 50px 0 ;
            background-color: $notWhite;
            
        }
        &:focus{

            outline:none;
        }

        a{

            text-decoration: none;
            will-change: auto;
        }
    }

}


// components

.movewithmouse{
    visibility: hidden;
}

.show{
    visibility:visible;
}


// button 

button:focus {
    border: none;
    outline: none;
}

//skewable

.skewable , .hoverthis{
    transition: transform 0.25s;
	will-change: transform;
}

.contain-next{
    overflow: hidden;
}

// section{
//     overflow-x: hidden;
// }


//cursor

.cursor{
    width: 20px;
    height: 20px;
    background: $notBlack;
    position: absolute;
    // mix-blend-mode: difference;
}

// line 
hr{
    width: 80%;
}

// scroll- wheel

.scroll-wheel{
    height: 30px;
    width: 100vw;
    position: relative;
    display: flex; 
    justify-content: center;
    opacity: 0;
    
    img{
        position: absolute;
        width: 200px;
        top:-90px
    }
}
@include media("<=600px"){
    .scroll-wheel{
        display: none;
    }
     
}



.close-button{
    height: 10px;
    width: 100vw;
    position: fixed;
    display: flex; 
    justify-content: center;
    mix-blend-mode: difference;
    z-index: 99;

    img{
        position: absolute;
        width: 100px;
        top:50px;
    }
}
@include media("<=700px"){
    .close-button{
        img{
            position: absolute;
            width: 60px;
            top:50px;
        }
    }
}
.side-arrow{
    width: 300px;
    position: fixed;
    top:70vh;
    right:20px;
    img{
       transform: rotate(90deg); 
    }
}
@include media("<=1388px"){
    .side-arrow{
        width: 200px;
        top:80vh;
    }
}
@include media("<=900px"){
    .side-arrow{
        width: 120px;
        
    }
};

@include media("<=500px"){
    .side-arrow{
        width: 100px;
        top:90vh;
    }
};

.project_btn{
    height: 240px;
    width: calc(100% - 100px); //.....fix

    display: flex;

    // align-items: center;
    background-color: none;
    border: none;
    text-decoration: none;

    transition: all 1s cubic-bezier(.64,0,.23,.99);

    & :focus{
        outline: none;
        border:none;
    }

    // padding: 10px;
    .button-wrapper{
        height: 50px;
        width: 50px;
        background-color: $notBlack;
        border-radius: 200px;
        

        display: flex;

        // align-items: center;

        // align-self: start;

        position: relative;

        transition: all 0.4s cubic-bezier(.64,0,.23,.99);
        
        span{
            
            color: $notWhite;
            position: absolute;
            transform: translateY(-25%);
            top: 50%;
            font-family: $theFont; 
            font-size:1.5rem; 
            line-height: 2;  
            z-index: 2;

            transition: all 0.4s cubic-bezier(.64,0,.23,.99);


            &::after{
                content: "";
                height: 50px;
                width: 50px;
                background-color: $notBlack;
                border-radius: 100px;
                position: relative;
                top:-48px;
                // left: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: -1;
                transition: all 0.4s cubic-bezier(.64,0,.23,.99);

            }
            
        }

    
        p{

            margin: 0 60px;
            color: $notWhite;
            font-family: $theFont; 
            font-size:7.5rem; 
            line-height: 1.5;
            position: relative; 
            top: 10px; 
            z-index: 2; 
            mix-blend-mode: difference;
            transition: all 0.4s cubic-bezier(.64,0,.23,.99);
            will-change: auto;
            // position: absolute;

        }
    }
    &:hover{
        .button-wrapper{
            height: 100%;
            width: 100%;
            padding: 0 40px;
            -webkit-box-shadow: 31px 54px 122px -16px rgba(0,0,0,0.41);
            -moz-box-shadow: 31px 54px 122px -16px rgba(0,0,0,0.41);
            box-shadow: 31px 54px 122px -16px rgba(0,0,0,0.41);
            // align-items: center;
            // align-self: center;
            
            span{
                // top:28%;
                // margin-left: 20px;
                color: $notBlack;
               
    
                &::after{
                    content: "";
                    background-color: $notWhite;

                }
                
            }
            p{
                margin: 0 80px;
                position: absolute;
                transform: translateY(-20%);
                top: 25%;
            }
    
        }
    }
}

@include media("<=1388px"){
    .project_btn{
        height: 140px; //<<-----
        width: 500px; //.....fix

        .button-wrapper{

            p{
                font-size:4.5rem; //<<---
            }
        }
    } 
}
@include media("<=800px"){
    .project_btn{
        height: 100px; //<<-----
        width: 450px; //.....fix

        .button-wrapper{

            p{
                font-size:3.5rem; //<<---
            }
        }
    } 
}
@include media("<=500px"){
    .project_btn{
        height: 70px; //<<-----
        width: 350px; //.....fix

        .button-wrapper{

            p{
                font-size:2.5rem; //<<---
            }
        }
    } 
}

@import "project"; 
@import "oProj"; 



.t-project_cont{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s all;
    
}
.show-overlay .t-project_cont{
    position: fixed;
    left: 0;
    right: 0;
    overflow-y: scroll; /* render disabled scroll bar to keep the same width */
  }

.shift{
    position: relative;
    left: -500px;
}

.t-project {
    width: 100vw;
    padding-top: 90vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr) 0.2fr 1fr 0.2fr 1fr .2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}
    
.box1 { grid-area: 1 / 2 / 2 / 4; }
.box2 { grid-area: 2 / 4 / 3 / 6; }
.box3 { grid-area: 3 / 3 / 4 / 5; }
.box4 { grid-area: 7 / 1 / 8 / 3; }
.box5 { grid-area: 5 / 5 / 6 / 7; }
.box6 { grid-area: 9 / 3 / 10 / 5; }


.box4, .box2, .box6{z-index: 9;margin-left: 10%;}

.t-project li div{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.t-project img{
    width: 100%;
        object-fit: cover;
        object-position: 50% 100%;
}

@include media("<=1000px"){

    .t-project {

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, max-content) 0.2fr max-content 0.2fr max-content .2fr max-content;

    }
        
    .box1 { grid-area: 1 / 2 / 2 / 4; }
    .box2 { grid-area: 2 / 3 / 3 / 5; }
    .box3 { grid-area: 9 / 3 / 10 / 5; }
    .box4 { grid-area: 3 / 2 / 4 / 4; }
    .box5 { grid-area: 7 / 1 / 8 / 3; }
    .box6 { grid-area: 5 / 4 / 6 / 6; }
    
    
    .box4, .box2, .box6{z-index: 9;}
    
    .t-project img{
        width: 100%;
    }

}

@include media("<=700px"){

    .t-project_cont{
        width: 80vw;
        margin: 0 auto;

    }
    .t-project {
        
        width: 100%;
        display: flex;
        flex-direction: column;

    }
         
    
    .box4, .box2, .box6{z-index: 9;margin-left: 0%;}
    
    .t-project img{
        width: 100%;
    }

    .project_name{
        height: 50px;
        width: calc(100% - 300px); //.....fix
    
        display: flex;
    
        // align-items: center;
        background-color: transparent;
        border: none;
        text-decoration: none;
        position: absolute;
        left:20px;
        top:30px;
        // transition: all 1s cubic-bezier(.64,0,.23,.99);
    
        & :focus{
            outline: none;
            border:none;
        }
    
        // padding: 10px;
        .button-wrapper{
            height: 50px;
            width: 50px;
            border-radius: 200px;
            
    
            display: flex;
    
            // align-items: center;
    
            // align-self: start;
    
            position: relative;
    
            transition: all 0.4s cubic-bezier(.64,0,.23,.99);
            
            span{
                
                color: $notBlack;
                position: absolute;
                transform: translateY(-25%);
                top: 50%;
                left:4px;
                font-family: $theFont; 
                font-size:1.5rem; 
                line-height: 2;  
                z-index: 2;
    
                transition: all 0.4s cubic-bezier(.64,0,.23,.99);
    
    
                &::after{
                    content: "";
                    height: 40px;
                    width: 40px;
                    background-color: $notWhite;
                    border-radius: 100px;
                    position: relative;
                    top:-46px;
                    // left: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: -1;
                    transition: all 0.4s cubic-bezier(.64,0,.23,.99);
    
                }
                
            }
    
        
            p{
                width:200% ;
                margin: 0 80px;
                color: $notWhite;
                font-family: $theFont; 
                transform: translateY(-20%);
                font-size:2.5rem; 
                line-height: 1.5;
                position: absolute; 
                top: 20%; 
                left: -10px;
                opacity: 1;
                z-index: 2; 
                mix-blend-mode: difference;
                transition: all 0.4s cubic-bezier(.64,0,.23,.99);
                will-change: auto;
            
                // position: absolute;
    
            }
        }
    }

}

// create hovername-----
@include media(">=1000px"){
.project_name{
    height: 50px;
    width: calc(100% - 250px); //.....fix

    display: flex;

    // align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    position: absolute;
    left:20px;
    top:30px;
    // transition: all 1s cubic-bezier(.64,0,.23,.99);

    & :focus{
        outline: none;
        border:none;
    }

    // padding: 10px;
    .button-wrapper{
        height: 50px;
        width: 50px;
        border-radius: 200px;
        

        display: flex;

        // align-items: center;

        // align-self: start;

        position: relative;

        transition: all 0.4s cubic-bezier(.64,0,.23,.99);
        
        span{
            
            color: $notWhite;
            position: absolute;
            transform: translateY(-25%);
            top: 50%;
            font-family: $theFont; 
            font-size:1.5rem; 
            line-height: 2;  
            z-index: 2;

            transition: all 0.4s cubic-bezier(.64,0,.23,.99);


            &::after{
                content: "";
                height: 50px;
                width: 50px;
                background-color: $notBlack;
                border-radius: 100px;
                position: relative;
                top:-48px;
                // left: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: -1;
                transition: all 0.4s cubic-bezier(.64,0,.23,.99);

            }
            
        }

    
        p{
            
            margin: 0 60px;
            color: $notWhite;
            font-family: $theFont; 
            font-size:2.5rem; 
            line-height: 1.5;
            position: relative; 
            top: 8px; 
            left: -10px;
            opacity: 0;
            z-index: 2; 
            mix-blend-mode: difference;
            transition: all 0.4s cubic-bezier(.64,0,.23,.99);
            will-change: auto;
        
            // position: absolute;

        }
    }
}

.box1:hover .project_name, .box2:hover .project_name, .box3:hover .project_name, .box4:hover .project_name, .box5:hover .project_name, .box6:hover .project_name{
    .button-wrapper{

        
        span{
            // top:28%;
            // margin-left: 20px;
            color: $notBlack;
            left:4px;
            
           

            &::after{
                content: "";
                height: 40px;
                width: 40px;
                background-color: $notWhite;
                top:-46px;
                // left:-30px;

            }
            
        }
        p{
            width: 200%;
            margin: 0 80px;
            position: absolute;
            transform: translateY(-20%);
            top: 20%;
            opacity: 1;
            
        }

    }
}
}

.lightbox{
    display: none;

    width: 100vw;
    height: 100vh;
    padding: calc(7%*3) 5% 5%;
    position: fixed;
    top: 0;
    left: 0;

    overflow: scroll; 
    z-index: 55;
}

.lb-back-drop{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left:0;
    z-index: -9;
}

.lb-project-box{
    width:90%;
    margin: 0 auto;
    padding: 2% 10% 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: $notWhite;
    border-radius: 30px;
}

.lb-p_catergory-name{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    font-family: $theFont; 
}
.lb-p_name{
    display: flex;
    justify-content: center;
    font-size: calc(100vw / 30);
    margin: 5vw 0 1vw;
    font-family: $theFont; 
}


//collapible

.other-projects{
    width: 60%; 
    margin: 0 auto;
}

.collapsible {
    width: max-content;
    padding: 18px;
    margin: 20px 0;
    background-color: transparent;
    color: $notBlack;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-family: $theFont;
  }
  

  
  .content {

    max-height: 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    button{
        padding: 10px 20px;
        outline: none;
        border: none;
        background-color: none;
        font-size: 1.2rem;
        font-family: $theFont;
    }
  }

  @include media("<=700px"){

    .content {

        max-height: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
  }
      