@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lexend Deca', sans-serif;
  background: #eeeeee;
  overflow-x: hidden;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus {
  border: none;
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'play';
  src: url("../fonts/ PublicaPlay.otf");
  font-style: normal;
  font-weight: 100;
}

nav {
  width: 100vw;
  height: 10vh;
  margin: auto;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), color-stop(60%, #eeeeee), color-stop(96%, rgba(238, 238, 238, 0)));
  background: linear-gradient(180deg, #eeeeee 0%, #eeeeee 60%, rgba(238, 238, 238, 0) 96%);
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  letter-spacing: -2px;
  text-transform: uppercase;
}

nav .logo-name {
  height: auto;
}

nav .logo {
  height: auto;
  width: 50px;
}

nav .menu-bar {
  width: 130px;
  font-size: 1.2rem;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

nav .menu-bar a {
  text-decoration: none;
  color: black;
}

nav a:visited {
  text-decoration: none;
}

@media (max-width: 900px) {
  nav {
    height: auto;
  }
}

.main-cont {
  width: 100vw;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-cont .carousal {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #101111;
}

.main-cont .carousal .slider {
  width: 150%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.main-cont .carousal .slider li {
  width: 50%;
  height: 300px;
  /*<<--adjust*/
  padding: 0 9rem;
  font-family: play;
  font-size: 16rem;
}

.main-cont .carousal .menu-content {
  -webkit-perspective: 400px;
          perspective: 400px;
}

.main-cont .carousal .menu-content .child {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  /*<<--adjust*/
  /*<<--adjust*/
}

.main-cont .carousal .menu-content .child .cube__face {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 200px;
  height: 100%;
  border-radius: 500px;
  font-weight: bold;
  color: #eeeeee;
  background-color: #101111;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-cont .carousal .menu-content .child .cube__face p {
  font-family: play;
  font-size: 12rem;
  position: relative;
  top: -20px;
}

.main-cont .carousal .menu-content .child .cube__face--front {
  -webkit-transform: rotateY(0deg) translateZ(150px);
          transform: rotateY(0deg) translateZ(150px);
}

.main-cont .carousal .menu-content .child .cube__face--top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
          transform: rotateX(90deg) translateZ(150px);
}

.main-cont .carousal .menu-content:hover .child {
  -webkit-transform: translateZ(-80px) rotateX(-90deg);
          transform: translateZ(-80px) rotateX(-90deg);
}

.project-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.project-hero .hero-title {
  position: absolute;
}

.project-hero .hero-title h2 {
  font-size: 20rem;
  color: #101111;
}

.project-hero .hero-title:nth-child(1) {
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  top: 22%;
  left: 10%;
}

.project-hero .hero-title:nth-child(2) {
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  bottom: 20%;
  right: 10%;
  z-index: 1;
}

.project-hero .hero-image {
  width: 50%;
  height: 0%;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
  box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
}

.project-hero .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

@media (max-width: 1388px) {
  .project-hero .hero-title h2 {
    font-size: 15rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 10%;
  }
  .project-hero .hero-title:nth-child(2) {
    bottom: 40%;
    right: 10%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 0%;
    height: 50%;
    top: 35%;
  }
}

@media (max-width: 900px) {
  .project-hero .hero-title h2 {
    font-size: 15rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 10%;
  }
  .project-hero .hero-title:nth-child(2) {
    bottom: 40%;
    right: 10%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 70%;
    height: 90%;
    top: 35%;
  }
}

@media (max-width: 700px) {
  .project-hero .hero-title {
    z-index: 999;
  }
  .project-hero .hero-title h2 {
    font-size: 10rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 10%;
  }
  .project-hero .hero-title:nth-child(2) {
    bottom: 50%;
    right: 10%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 80%;
    height: 60%;
    top: 35%;
  }
}

@media (max-width: 450px) {
  .project-hero .hero-title h2 {
    font-size: 4.8rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 0%;
  }
  .project-hero .hero-title:nth-child(2) {
    top: 30%;
    right: 0%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 80%;
    height: 70%;
    top: 25%;
  }
}

.project-info {
  max-width: 1200px;
  margin: 20vh auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.project-info .project-title {
  height: auto;
}

.project-info .project-title h2 {
  font-size: 2.5rem;
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

.project-info .project-title .tools {
  width: 40%;
  height: auto;
}

.project-info .project-title .tools h3 {
  font-size: 1.5rem;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  margin: 20px 0 10px;
}

.project-info .project-title .tools ul li {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin: 10px 0;
}

.project-info .project-disc {
  height: auto;
}

.project-info .project-disc p {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.project-info .project-year {
  height: auto;
  font-size: 2.5rem;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  text-align: center;
}

.project-info .project-year p {
  width: 90px;
  font-size: 1rem;
  margin: 0 auto;
  padding: 20px 1px;
  background-color: greenyellow;
  border-radius: 50px;
}

@media (max-width: 1388px) {
  .project-info {
    max-width: 1200px;
    margin: 15vh 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .project-info .project-title h2 {
    font-size: 2rem;
    font-family: "MuseoModerno", Montserrat, sans-serif;
  }
  .project-info .project-title .tools {
    width: 40%;
    height: auto;
  }
  .project-info .project-title .tools h3 {
    font-size: 1.5rem;
  }
  .project-info .project-title .tools ul li {
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1rem;
  }
  .project-info .project-disc p {
    font-size: 1.2rem;
  }
  .project-info .project-year {
    font-size: 2rem;
  }
  .project-info .project-year p {
    font-size: 1rem;
    margin: 10px;
    padding: 20px 1px;
    background-color: greenyellow;
    border-radius: 50px;
  }
}

@media (max-width: 899px) {
  .project-info {
    max-width: 1200px;
    margin: 0 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    overflow: visible;
  }
  .project-info .project-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .project-info .project-title h2 {
    font-size: 2rem;
    font-family: "MuseoModerno", Montserrat, sans-serif;
  }
  .project-info .project-title .tools {
    width: 40%;
    height: auto;
  }
  .project-info .project-title .tools h3 {
    font-size: 1.5rem;
  }
  .project-info .project-title .tools ul li {
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1rem;
  }
  .project-info .project-disc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .project-info .project-disc p {
    font-size: 1.2rem;
  }
  .project-info .project-year {
    font-size: 2rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .project-info .project-year p {
    font-size: 1rem;
    margin: 10px;
    padding: 20px 1px;
    background-color: greenyellow;
    border-radius: 50px;
  }
}

.next-project {
  width: 100%;
  height: 60vh;
  margin-top: 15%;
  position: relative;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.next-project a {
  text-decoration: none;
}

.next-project .strap {
  height: 130px;
  width: 250%;
  background: #101111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
  position: relative;
  top: 35%;
  overflow: hidden;
}

.next-project .strap .s-1 {
  width: 100%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1) transform;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1) transform, 0.5s cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
}

.next-project .strap p {
  color: #eeeeee;
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  font-size: 4.5rem;
  line-height: 1.5;
  text-decoration: none;
}

.next-project .strap p:nth-child(n+5) {
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
}

.next-project .arrow:nth-child(2) {
  height: auto;
  position: absolute;
  width: 200px;
  right: 10%;
  top: 5%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.next-project .arrow:nth-child(3) {
  height: auto;
  position: absolute;
  width: 300px;
  left: 10%;
  top: 50%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.move-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (max-width: 1388px) {
  .next-project {
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .next-project .strap {
    height: 130px;
    width: 250%;
    background: #101111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
    position: relative;
    top: 35%;
  }
  .next-project .strap p {
    font-size: 3.5rem;
  }
  .next-project .arrow:nth-child(2) {
    height: auto;
    position: absolute;
    width: 200px;
    right: 10%;
    top: 5%;
  }
  .next-project .arrow:nth-child(3) {
    height: auto;
    position: absolute;
    width: 250px;
    left: 10%;
    top: 50%;
  }
}

@media (max-width: 900px) {
  .next-project {
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .next-project .strap {
    height: 100px;
    width: 250%;
    background: #101111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
    position: relative;
    top: 35%;
  }
  .next-project .strap p {
    font-size: 2.1rem;
  }
  .next-project .arrow:nth-child(2) {
    height: auto;
    position: absolute;
    width: 120px;
    right: 10%;
    top: 13%;
  }
  .next-project .arrow:nth-child(3) {
    height: auto;
    position: absolute;
    width: 200px;
    left: 10%;
    top: 50%;
  }
}

@media (max-width: 500px) {
  .next-project {
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .next-project .strap {
    height: 80px;
    width: 250%;
    background: #101111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
    position: relative;
    top: 35%;
  }
  .next-project .strap p {
    font-size: 1.3rem;
  }
  .next-project .arrow:nth-child(2) {
    height: auto;
    position: absolute;
    width: 80px;
    right: 10%;
    top: 13%;
  }
  .next-project .arrow:nth-child(3) {
    height: auto;
    position: absolute;
    display: none;
    width: 140px;
    left: 10%;
    top: 50%;
  }
}

.Hero {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Hero .Hero-Contents {
  width: 70%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Hero .Hero-Contents .hero-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Hero .Hero-Contents .hero-intro h2 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  margin-bottom: 6%;
}

.Hero .Hero-Contents .hero-intro h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
}

.Hero .Hero-Contents .hero-intro .fontchange > h1 {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-style: italic;
}

.Hero .Hero-Contents .hero-intro h3 {
  font-size: 1.6rem;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
}

.Hero .Hero-Contents .hero-intro .ht_5 {
  margin-top: 10%;
}

.Hero .Hero-Contents .ht_2, .Hero .Hero-Contents .ht_5, .Hero .Hero-Contents .ht_6 {
  position: relative;
  left: 10%;
}

.Hero .Hero-Contents .ht_2, .Hero .Hero-Contents .ht_3 {
  pointer-events: none;
  z-index: 3;
}

.Hero .Hero-Contents .ht_3 {
  position: relative;
  top: 10px;
  left: 60%;
}

.Hero .Hero-Contents .ht_4 {
  position: relative;
  left: -20%;
}

.Hero .Hero-Contents .hero-intro-image {
  width: 100%;
  height: 65%;
  position: relative;
  top: 7%;
}

.Hero .Hero-Contents .hero-intro-image figure {
  width: 100%;
  height: 100%;
}

.Hero .Hero-Contents .hero-intro-image figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

.Hero .Hero-Contents .hero-intro-image .hi_2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #101111;
  padding: 20px 60px;
  border-radius: 100px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  top: -25%;
  left: -10%;
  pointer-events: none;
}

.Hero .Hero-Contents .hero-intro-image .hi_2 p {
  color: white;
  font-size: 2rem;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  letter-spacing: 0px;
}

.Hero .about_content-hero {
  width: 60%;
}

.Hero .about_content-hero div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

.Hero .about_content-hero div p {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 2;
}

.Hero .about_content-hero div h2 {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 6.5rem;
  z-index: 9;
  line-height: 1.5;
}

.Hero .about_content-hero div h2:hover + div {
  width: 800px;
  position: absolute;
  top: -100px;
  right: 150px;
  z-index: -9;
}

.Hero .about_content-hero div h2 .blinds {
  display: block;
  height: 50%;
}

.Hero .about_content-hero div .blinds::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  position: absolute;
  left: 0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  z-index: 1;
}

.Hero .about_content-hero div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Hero .about_content-hero div:nth-child(2) div {
  width: 110px;
  border-radius: 800px;
  overflow: hidden;
  position: absolute;
  top: 198px;
  left: 380px;
  will-change: auto;
}

.Hero .about_content-hero div:nth-child(2) div img {
  width: 100%;
}

@media (max-width: 1388px) {
  .Hero .about_content-hero {
    width: 70%;
  }
  .Hero .about_content-hero div p {
    font-size: 3rem;
  }
  .Hero .about_content-hero div h2 {
    font-size: 5rem;
  }
  .Hero .about_content-hero div h2:hover + div {
    width: 600px;
    top: -240px;
    right: 150px;
  }
  .Hero .about_content-hero div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Hero .about_content-hero div:nth-child(2) div {
    display: none;
    top: 160px;
    left: 350px;
  }
}

@media (max-width: 900px) {
  .Hero .about_content-hero {
    width: 80%;
  }
  .Hero .about_content-hero div p {
    font-size: 2rem;
  }
  .Hero .about_content-hero div h2 {
    font-size: 4.5rem;
  }
  .Hero .about_content-hero div h2:hover + div {
    width: 110px;
    width: 600px;
    top: 120px;
    left: 300px;
  }
  .Hero .about_content-hero div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Hero .about_content-hero div:nth-child(2) div {
    top: 120px;
    left: 300px;
  }
}

@media (max-width: 500px) {
  .Hero .about_content-hero {
    width: 80%;
  }
  .Hero .about_content-hero div p {
    font-size: 2rem;
  }
  .Hero .about_content-hero div h2 {
    font-size: 4.5rem;
  }
  .Hero .about_content-hero div h2:hover + div {
    width: 110px;
    width: 600px;
    top: 0;
    left: 0;
  }
  .Hero .about_content-hero div .blinds::after {
    display: none;
    content: '';
    width: 100%;
    height: 0;
    background-color: #eeeeee;
    position: absolute;
    left: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    z-index: 1;
  }
  .Hero .about_content-hero div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Hero .about_content-hero div:nth-child(2) h2 > span:first-child {
    line-height: 1;
  }
  .Hero .about_content-hero div:nth-child(2) div {
    top: 120px;
    left: 250px;
  }
}

.about-content {
  width: 100vw;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .about-me, .about-content .myExp, .about-content .mySkills {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.about-content .about-me h3, .about-content .myExp h3, .about-content .mySkills h3 {
  position: relative;
  top: -45px;
  color: #101111;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-size: 6.5rem;
  letter-spacing: 6px;
  z-index: 9;
  line-height: 1.5;
}

.about-content .about-me p, .about-content .myExp p, .about-content .mySkills p {
  color: #101111;
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  font-family: 'Montserrat Light', Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0;
  font-size: 1.8rem;
  line-height: 2.2;
  text-transform: uppercase;
}

@media (max-width: 1388px) {
  .about-content .about-me, .about-content .myExp, .about-content .mySkills {
    width: 70%;
    -webkit-column-gap: 8rem;
            column-gap: 8rem;
  }
}

@media (max-width: 900px) {
  .about-content .about-me, .about-content .myExp, .about-content .mySkills {
    width: 80%;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .about-content .about-me h3, .about-content .myExp h3, .about-content .mySkills h3 {
    color: #101111;
    font-family: "MuseoModerno", Montserrat, sans-serif;
    font-size: 2rem;
    z-index: 9;
    line-height: 1.5;
  }
  .about-content .about-me p, .about-content .myExp p, .about-content .mySkills p {
    color: #101111;
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 500px) {
  .about-content .about-me, .about-content .myExp, .about-content .mySkills {
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-content .about-me h3, .about-content .myExp h3, .about-content .mySkills h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .about-content .about-me p, .about-content .myExp p, .about-content .mySkills p {
    font-size: 1.1rem;
  }
}

.about-cont {
  height: 60vh;
}

.myExp .timeline, .myExp .skill, .mySkills .timeline, .mySkills .skill {
  color: #101111;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 2.2rem;
  line-height: 1;
  position: relative;
  top: -20px;
}

.myExp .timeline li, .myExp .skill li, .mySkills .timeline li, .mySkills .skill li {
  margin: 20px;
}

.myExp .timeline .time, .myExp .skill .time, .mySkills .timeline .time, .mySkills .skill .time {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 1rem;
}

.contacts {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .contacts-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1fr;
      grid-template-columns: 0.4fr 1fr;
}

.contacts .contacts-cont p {
  width: 250px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  color: #101111;
  font-family: 'Montserrat Light', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.contacts .contacts-cont .hoverthis {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.contacts .contacts-cont a {
  color: #101111;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-size: 4.5rem;
  line-height: 1.5;
  color: #101111;
  text-decoration: none;
}

.contacts .contacts-cont .follow-me {
  width: 90%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contacts-cont ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .contacts-cont ul li {
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

.contacts .contacts-cont ul li a {
  font-size: 1.8rem;
  margin: 10px 0;
}

@media (max-width: 1388px) {
  .contacts .contacts-cont a {
    font-size: 4.0rem;
  }
}

@media (max-width: 900px) {
  .contacts .contacts-cont a {
    font-size: 2.8rem;
  }
  .contacts .contacts-cont .follow-me {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .contacts .contacts-cont a {
    font-size: 2.2rem;
  }
  .contacts .contacts-cont .follow-me ul {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts .contacts-cont .follow-me > p {
    display: none;
  }
}

.work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-content h3 {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 2.5rem;
  z-index: 9;
  line-height: 1.5;
}

.work-content .work {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.work-content .work h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 5rem;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  letter-spacing: 6px;
}

.work-content .work .project_btn {
  margin: 50px 0;
  background-color: #eeeeee;
}

.work-content .work:focus {
  outline: none;
}

.work-content .work a {
  text-decoration: none;
  will-change: auto;
}

.movewithmouse {
  visibility: hidden;
}

.show {
  visibility: visible;
}

button:focus {
  border: none;
  outline: none;
}

.skewable, .hoverthis {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  will-change: transform;
}

.contain-next {
  overflow: hidden;
}

.cursor {
  width: 20px;
  height: 20px;
  background: #101111;
  position: absolute;
}

.info {
  height: 150px;
  width: 150px;
}

.c-info {
  display: none;
  font-size: 1rem;
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  letter-spacing: 0px;
  color: #101111;
  position: absolute;
}

.c-next {
  display: none;
  width: 50%;
  height: auto;
  position: absolute;
}

hr {
  width: 80%;
}

.scroll-wheel {
  height: 30px;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.scroll-wheel img {
  position: absolute;
  width: 200px;
  top: -90px;
}

@media (max-width: 600px) {
  .scroll-wheel {
    display: none;
  }
}

.close-button {
  height: 10px;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: difference;
  z-index: 99;
}

.close-button img {
  position: absolute;
  width: 100px;
  top: 50px;
}

@media (max-width: 700px) {
  .close-button img {
    position: absolute;
    width: 60px;
    top: 50px;
  }
}

.side-arrow {
  width: 300px;
  position: fixed;
  top: 70vh;
  right: 20px;
}

.side-arrow img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1388px) {
  .side-arrow {
    width: 200px;
    top: 80vh;
  }
}

@media (max-width: 900px) {
  .side-arrow {
    width: 120px;
  }
}

@media (max-width: 500px) {
  .side-arrow {
    width: 100px;
    top: 90vh;
  }
}

.project_btn {
  height: 240px;
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 1s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 1s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn :focus {
  outline: none;
  border: none;
}

.project_btn .button-wrapper {
  height: 50px;
  width: 50px;
  background-color: #101111;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn .button-wrapper span {
  color: #eeeeee;
  position: absolute;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  top: 50%;
  font-family: 'Montserrat Light', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  z-index: 2;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn .button-wrapper span::after {
  content: "";
  height: 50px;
  width: 50px;
  background-color: #101111;
  border-radius: 100px;
  position: relative;
  top: -48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn .button-wrapper p {
  margin: 0 60px;
  color: #eeeeee;
  font-family: 'Montserrat Light', Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  line-height: 1.5;
  position: relative;
  top: 10px;
  z-index: 2;
  mix-blend-mode: difference;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  will-change: auto;
}

.project_btn:hover .button-wrapper {
  height: 100%;
  width: 100%;
  padding: 0 40px;
  -webkit-box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
  box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
}

.project_btn:hover .button-wrapper span {
  color: #101111;
}

.project_btn:hover .button-wrapper span::after {
  content: "";
  background-color: #eeeeee;
}

.project_btn:hover .button-wrapper p {
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  font-size: 8.5rem;
  margin: 0 80px;
  position: absolute;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  top: 25%;
}

@media (max-width: 1388px) {
  .project_btn {
    height: 140px;
    width: 500px;
  }
  .project_btn .button-wrapper p {
    font-size: 4.5rem;
  }
}

@media (max-width: 800px) {
  .project_btn {
    height: 100px;
    width: 450px;
  }
  .project_btn .button-wrapper p {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  .project_btn {
    height: 70px;
    width: 350px;
  }
  .project_btn .button-wrapper p {
    font-size: 2.5rem;
  }
}

.project-image {
  width: 100%;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-image .image {
  width: 100%;
  height: 80%;
  margin: 30px;
  background: #50F46F;
  overflow: hidden;
}

.project-image .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (max-width: 600px) {
  .project-image .img {
    margin: 0 30px;
  }
}

.catagory-section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  pointer-events: none;
}

.catagory-section h1 {
  font-family: "Lexend Tera", Montserrat, sans-serif;
  letter-spacing: -20px;
  font-size: calc(100vw / 12);
  color: mediumblue;
  pointer-events: none;
}

.cont {
  width: 100vw;
}

.t-project_cont {
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s all;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s all;
}

.show-overlay .t-project_cont {
  position: fixed;
  left: 0;
  right: 0;
  overflow-y: scroll;
  /* render disabled scroll bar to keep the same width */
}

.shift {
  position: relative;
  left: -500px;
}

.t-project {
  width: 100vw;
  padding-top: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[3] 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
      grid-template-rows: repeat(3, 1fr) 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
}

.box2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 2 / 4 / 3 / 6;
}

.box3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 4 / 5;
}

.box4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 7 / 1 / 8 / 3;
}

.box5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 5 / 5 / 6 / 7;
}

.box6 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 9 / 3 / 10 / 5;
}

.box4, .box2, .box6 {
  z-index: 9;
  margin-left: 10%;
}

.t-project li div {
  width: 100%;
  height: 100%;
  position: relative;
}

.t-project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

@media (max-width: 1000px) {
  .t-project {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (max-content)[3] 0.2fr max-content 0.2fr max-content 0.2fr max-content;
        grid-template-rows: repeat(3, -webkit-max-content) 0.2fr -webkit-max-content 0.2fr -webkit-max-content 0.2fr -webkit-max-content;
        grid-template-rows: repeat(3, max-content) 0.2fr max-content 0.2fr max-content 0.2fr max-content;
  }
  .box1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / 2 / 4;
  }
  .box2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / 5;
  }
  .box3 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 9 / 3 / 10 / 5;
  }
  .box4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3 / 2 / 4 / 4;
  }
  .box5 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 7 / 1 / 8 / 3;
  }
  .box6 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 5 / 4 / 6 / 6;
  }
  .box4, .box2, .box6 {
    z-index: 9;
  }
  .t-project img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .t-project_cont {
    width: 80vw;
    margin: 0 auto;
  }
  .t-project {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box4, .box2, .box6 {
    z-index: 9;
    margin-left: 0%;
  }
  .t-project img {
    width: 100%;
  }
  .project_name {
    height: 50px;
    width: calc(100% - 300px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: none;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 30px;
  }
  .project_name :focus {
    outline: none;
    border: none;
  }
  .project_name .button-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  }
  .project_name .button-wrapper span {
    color: #101111;
    position: absolute;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    top: 50%;
    left: 4px;
    font-family: "Lexend Tera", Montserrat, sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    z-index: 2;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  }
  .project_name .button-wrapper span::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: #eeeeee;
    border-radius: 100px;
    position: relative;
    top: -46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  }
  .project_name .button-wrapper p {
    width: 200%;
    margin: 0 80px;
    color: #eeeeee;
    font-family: "Lexend Tera", Montserrat, sans-serif;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    font-size: 2.5rem;
    line-height: 1.5;
    position: absolute;
    top: 20%;
    left: -10px;
    opacity: 1;
    z-index: 2;
    mix-blend-mode: difference;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    will-change: auto;
  }
}

@media (min-width: 1000px) {
  .project_name {
    height: 50px;
    width: calc(100% - 250px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: none;
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 30px;
  }
  .project_name :focus {
    outline: none;
    border: none;
  }
  .project_name .button-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  }
  .project_name .button-wrapper span {
    color: #eeeeee;
    position: absolute;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    top: 50%;
    font-family: "Lexend Tera", Montserrat, sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    z-index: 2;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  }
  .project_name .button-wrapper span::after {
    content: "";
    height: 50px;
    width: 50px;
    background-color: #101111;
    border-radius: 100px;
    position: relative;
    top: -48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  }
  .project_name .button-wrapper p {
    margin: 0 60px;
    color: #eeeeee;
    font-family: "Lexend Tera", Montserrat, sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    position: relative;
    top: 8px;
    left: -10px;
    opacity: 0;
    z-index: 2;
    mix-blend-mode: difference;
    -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
    will-change: auto;
  }
  .box1:hover .project_name .button-wrapper span, .box2:hover .project_name .button-wrapper span, .box3:hover .project_name .button-wrapper span, .box4:hover .project_name .button-wrapper span, .box5:hover .project_name .button-wrapper span, .box6:hover .project_name .button-wrapper span {
    color: #101111;
    left: 4px;
  }
  .box1:hover .project_name .button-wrapper span::after, .box2:hover .project_name .button-wrapper span::after, .box3:hover .project_name .button-wrapper span::after, .box4:hover .project_name .button-wrapper span::after, .box5:hover .project_name .button-wrapper span::after, .box6:hover .project_name .button-wrapper span::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: #eeeeee;
    top: -46px;
  }
  .box1:hover .project_name .button-wrapper p, .box2:hover .project_name .button-wrapper p, .box3:hover .project_name .button-wrapper p, .box4:hover .project_name .button-wrapper p, .box5:hover .project_name .button-wrapper p, .box6:hover .project_name .button-wrapper p {
    width: 200%;
    margin: 0 80px;
    position: absolute;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    top: 20%;
    opacity: 1;
  }
}

.lightbox {
  display: none;
  width: 100vw;
  height: 100vh;
  padding: calc(7%*3) 5% 5%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 55;
}

.lb-back-drop {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
}

.lb-project-box {
  width: 90%;
  margin: 0 auto;
  padding: 2% 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
  border-radius: 30px;
}

.lb-p_catergory-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  font-size: 1.2rem;
  letter-spacing: 0;
}

.lb-p_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(100vw /10);
  margin: 5vw 0 1vw;
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  letter-spacing: 3px;
}

.other-projects {
  width: 60%;
  margin: 0 auto;
}

.collapsible {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 18px;
  margin: 20px 0;
  background-color: transparent;
  color: #101111;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.8rem;
  font-family: 'Lexend Tera', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  letter-spacing: -10px;
  letter-spacing: -2px;
}

.content {
  max-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.content button {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: none;
  font-size: 1.2rem;
  font-family: "Lexend Tera", Montserrat, sans-serif;
}

@media (max-width: 700px) {
  .content {
    max-height: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
}

.svg-cont {
  height: 100vh;
  width: 96vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: -3;
}

svg {
  width: 80%;
  height: auto;
  position: relative;
  top: 10%;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

text {
  font-family: 'Casta', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  word-spacing: 20px;
}
/*# sourceMappingURL=style.css.map */