@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lexend Deca', sans-serif;
  background: #eeeeee;
  overflow-x: hidden;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'play';
  src: url("../fonts/ PublicaPlay.otf");
  font-style: normal;
  font-weight: 100;
}

nav {
  width: 100vw;
  height: 10vh;
  margin: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

nav .logo-name {
  height: auto;
}

nav .logo {
  height: auto;
  width: 60px;
}

nav .menu-bar {
  width: 100px;
  height: 95%;
  background-color: blue;
}

.main-cont {
  width: 100vw;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-cont .carousal {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #101111;
}

.main-cont .carousal .slider {
  width: 150%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.main-cont .carousal .slider li {
  width: 50%;
  height: 300px;
  /*<<--adjust*/
  padding: 0 9rem;
  font-family: play;
  font-size: 16rem;
}

.main-cont .carousal .menu-content {
  -webkit-perspective: 400px;
          perspective: 400px;
}

.main-cont .carousal .menu-content .child {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  /*<<--adjust*/
  /*<<--adjust*/
}

.main-cont .carousal .menu-content .child .cube__face {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 200px;
  height: 100%;
  border-radius: 500px;
  font-weight: bold;
  color: #eeeeee;
  background-color: #101111;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-cont .carousal .menu-content .child .cube__face p {
  font-family: play;
  font-size: 12rem;
  position: relative;
  top: -20px;
}

.main-cont .carousal .menu-content .child .cube__face--front {
  -webkit-transform: rotateY(0deg) translateZ(150px);
          transform: rotateY(0deg) translateZ(150px);
}

.main-cont .carousal .menu-content .child .cube__face--top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
          transform: rotateX(90deg) translateZ(150px);
}

.main-cont .carousal .menu-content:hover .child {
  -webkit-transform: translateZ(-80px) rotateX(-90deg);
          transform: translateZ(-80px) rotateX(-90deg);
}

.project-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.project-hero .hero-title {
  position: absolute;
}

.project-hero .hero-title h2 {
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 20rem;
  color: #101111;
}

.project-hero .hero-title:nth-child(1) {
  top: 22%;
  left: 10%;
}

.project-hero .hero-title:nth-child(2) {
  bottom: 20%;
  right: 10%;
  z-index: 1;
}

.project-hero .hero-image {
  width: 50%;
  height: 100%;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
  box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
}

.project-hero .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

@media (max-width: 1388px) {
  .project-hero .hero-title h2 {
    font-size: 15rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 10%;
  }
  .project-hero .hero-title:nth-child(2) {
    bottom: 40%;
    right: 10%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 60%;
    height: 90%;
    top: 35%;
  }
}

@media (max-width: 900px) {
  .project-hero .hero-title h2 {
    font-size: 15rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 10%;
  }
  .project-hero .hero-title:nth-child(2) {
    bottom: 40%;
    right: 10%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 70%;
    height: 90%;
    top: 35%;
  }
}

@media (max-width: 700px) {
  .project-hero .hero-title h2 {
    font-size: 10rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 10%;
  }
  .project-hero .hero-title:nth-child(2) {
    bottom: 50%;
    right: 10%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 80%;
    height: 60%;
    top: 35%;
  }
}

@media (max-width: 450px) {
  .project-hero .hero-title h2 {
    font-size: 6rem;
  }
  .project-hero .hero-title:nth-child(1) {
    top: 22%;
    left: 0%;
  }
  .project-hero .hero-title:nth-child(2) {
    top: 30%;
    right: 0%;
    z-index: 1;
  }
  .project-hero .hero-image {
    width: 80%;
    height: 70%;
    top: 25%;
  }
}

.project-info {
  max-width: 1200px;
  margin: 20vh auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.project-info .project-title {
  height: auto;
}

.project-info .project-title h2 {
  font-size: 2.5rem;
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

.project-info .project-title .tools {
  width: 40%;
  height: auto;
}

.project-info .project-title .tools h3 {
  font-size: 1.5rem;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  margin: 20px 0 10px;
}

.project-info .project-title .tools ul li {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin: 10px 0;
}

.project-info .project-disc {
  height: auto;
}

.project-info .project-disc p {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.project-info .project-year {
  height: auto;
  font-size: 2.5rem;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  text-align: center;
}

.project-info .project-year p {
  width: 90px;
  font-size: 1rem;
  margin: 10px;
  padding: 20px 1px;
  background-color: greenyellow;
  border-radius: 50px;
}

@media (max-width: 1388px) {
  .project-info {
    max-width: 1200px;
    margin: 15vh 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .project-info .project-title h2 {
    font-size: 2rem;
    font-family: "MuseoModerno", Montserrat, sans-serif;
  }
  .project-info .project-title .tools {
    width: 40%;
    height: auto;
  }
  .project-info .project-title .tools h3 {
    font-size: 1.5rem;
  }
  .project-info .project-title .tools ul li {
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1rem;
  }
  .project-info .project-disc p {
    font-size: 1.2rem;
  }
  .project-info .project-year {
    font-size: 2rem;
  }
  .project-info .project-year p {
    font-size: 1rem;
    margin: 10px;
    padding: 20px 1px;
    background-color: greenyellow;
    border-radius: 50px;
  }
}

@media (max-width: 899px) {
  .project-info {
    max-width: 1200px;
    margin: 0 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr  1fr;
        grid-template-columns: 1fr  1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .project-info .project-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .project-info .project-title h2 {
    font-size: 2rem;
    font-family: "MuseoModerno", Montserrat, sans-serif;
  }
  .project-info .project-title .tools {
    width: 40%;
    height: auto;
  }
  .project-info .project-title .tools h3 {
    font-size: 1.5rem;
  }
  .project-info .project-title .tools ul li {
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1rem;
  }
  .project-info .project-disc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .project-info .project-disc p {
    font-size: 1.2rem;
  }
  .project-info .project-year {
    font-size: 2rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .project-info .project-year p {
    font-size: 1rem;
    margin: 10px;
    padding: 20px 1px;
    background-color: greenyellow;
    border-radius: 50px;
  }
}

.next-project {
  width: 100%;
  height: 60vh;
  margin-top: 15%;
  position: relative;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.next-project .strap {
  height: 130px;
  width: 250%;
  background: #101111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
  position: relative;
  top: 35%;
}

.next-project .strap p {
  color: #eeeeee;
  font-family: Helvetica, sans-serif;
  font-size: 4.5rem;
  line-height: 1.5;
}

.next-project .arrow:nth-child(2) {
  height: auto;
  position: absolute;
  width: 200px;
  right: 10%;
  top: 5%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.next-project .arrow:nth-child(3) {
  height: auto;
  position: absolute;
  width: 300px;
  left: 10%;
  top: 50%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

@media (max-width: 1388px) {
  .next-project {
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .next-project .strap {
    height: 130px;
    width: 250%;
    background: #101111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
    position: relative;
    top: 35%;
  }
  .next-project .strap p {
    font-size: 3.5rem;
  }
  .next-project .arrow:nth-child(2) {
    height: auto;
    position: absolute;
    width: 200px;
    right: 10%;
    top: 5%;
  }
  .next-project .arrow:nth-child(3) {
    height: auto;
    position: absolute;
    width: 250px;
    left: 10%;
    top: 50%;
  }
}

@media (max-width: 900px) {
  .next-project {
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .next-project .strap {
    height: 100px;
    width: 250%;
    background: #101111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
    position: relative;
    top: 35%;
  }
  .next-project .strap p {
    font-size: 2.1rem;
  }
  .next-project .arrow:nth-child(2) {
    height: auto;
    position: absolute;
    width: 120px;
    right: 10%;
    top: 13%;
  }
  .next-project .arrow:nth-child(3) {
    height: auto;
    position: absolute;
    width: 200px;
    left: 10%;
    top: 50%;
  }
}

@media (max-width: 500px) {
  .next-project {
    width: 100%;
    height: 60vh;
    margin-top: 15%;
    position: relative;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .next-project .strap {
    height: 80px;
    width: 250%;
    background: #101111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
    position: relative;
    top: 35%;
  }
  .next-project .strap p {
    font-size: 1.3rem;
  }
  .next-project .arrow:nth-child(2) {
    height: auto;
    position: absolute;
    width: 80px;
    right: 10%;
    top: 13%;
  }
  .next-project .arrow:nth-child(3) {
    height: auto;
    position: absolute;
    width: 140px;
    left: 10%;
    top: 50%;
  }
}

.about-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-hero .about_content-hero {
  width: 60%;
}

.about-hero .about_content-hero div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

.about-hero .about_content-hero div p {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 2;
}

.about-hero .about_content-hero div h2 {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 6.5rem;
  z-index: 9;
  line-height: 1.5;
}

.about-hero .about_content-hero div h2:hover + div {
  width: 800px;
  position: absolute;
  top: -100px;
  right: 150px;
  z-index: -9;
}

.about-hero .about_content-hero div h2 .blinds {
  display: block;
  height: 50%;
}

.about-hero .about_content-hero div .blinds::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  position: absolute;
  left: 0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  z-index: 1;
}

.about-hero .about_content-hero div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-hero .about_content-hero div:nth-child(2) div {
  width: 110px;
  border-radius: 800px;
  overflow: hidden;
  position: absolute;
  top: 198px;
  left: 380px;
  will-change: auto;
}

.about-hero .about_content-hero div:nth-child(2) div img {
  width: 100%;
}

@media (max-width: 1388px) {
  .about-hero .about_content-hero {
    width: 70%;
  }
  .about-hero .about_content-hero div p {
    font-size: 3rem;
  }
  .about-hero .about_content-hero div h2 {
    font-size: 5rem;
  }
  .about-hero .about_content-hero div h2:hover + div {
    width: 600px;
    top: -240px;
    right: 150px;
  }
  .about-hero .about_content-hero div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-hero .about_content-hero div:nth-child(2) div {
    top: 160px;
    left: 350px;
  }
}

@media (max-width: 900px) {
  .about-hero .about_content-hero {
    width: 80%;
  }
  .about-hero .about_content-hero div p {
    font-size: 2rem;
  }
  .about-hero .about_content-hero div h2 {
    font-size: 4.5rem;
  }
  .about-hero .about_content-hero div h2:hover + div {
    width: 110px;
    width: 600px;
    top: 120px;
    left: 300px;
  }
  .about-hero .about_content-hero div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-hero .about_content-hero div:nth-child(2) div {
    top: 120px;
    left: 300px;
  }
}

@media (max-width: 500px) {
  .about-hero .about_content-hero {
    width: 80%;
  }
  .about-hero .about_content-hero div p {
    font-size: 2rem;
  }
  .about-hero .about_content-hero div h2 {
    font-size: 4.5rem;
  }
  .about-hero .about_content-hero div h2:hover + div {
    width: 110px;
    width: 600px;
    top: 0;
    left: 0;
  }
  .about-hero .about_content-hero div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-hero .about_content-hero div:nth-child(2) div {
    top: 120px;
    left: 250px;
  }
}

.about-content {
  width: 100vw;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .about-me, .about-content .myExp, .about-content .mySkills {
  -webkit-column-gap: 13rem;
          column-gap: 13rem;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.about-content .about-me h3, .about-content .myExp h3, .about-content .mySkills h3 {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 2.5rem;
  z-index: 9;
  line-height: 1.5;
}

.about-content .about-me p, .about-content .myExp p, .about-content .mySkills p {
  color: #101111;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (max-width: 1388px) {
  .about-content .about-me {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .about-content .about-me {
    width: 80%;
  }
  .about-content .about-me h3 {
    color: #101111;
    font-family: "MuseoModerno", Montserrat, sans-serif;
    font-size: 2rem;
    z-index: 9;
    line-height: 1.5;
  }
  .about-content .about-me p {
    color: #101111;
    font-family: "Mukta Vaani", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 500px) {
  .about-content .about-me {
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-content .about-me h3 {
    font-size: 2rem;
  }
  .about-content .about-me p {
    font-size: 1.1rem;
  }
}

.myExp .timeline, .myExp .skill, .mySkills .timeline, .mySkills .skill {
  color: #101111;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  position: relative;
  top: -20px;
}

.myExp .timeline li, .myExp .skill li, .mySkills .timeline li, .mySkills .skill li {
  margin: 20px;
}

.myExp .timeline .time, .myExp .skill .time, .mySkills .timeline .time, .mySkills .skill .time {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 1rem;
}

.contacts {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .contacts-cont p {
  color: #101111;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.contacts .contacts-cont a {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 6.5rem;
  line-height: 1.5;
  color: #101111;
  text-decoration: none;
}

.contacts .contacts-cont .follow-me {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .contacts-cont li {
  font-family: "MuseoModerno", Montserrat, sans-serif;
}

.contacts .contacts-cont li a {
  font-size: 1.2rem;
  margin: 10px 0;
}

@media (max-width: 1388px) {
  .contacts .contacts-cont a {
    font-size: 5.5rem;
  }
}

@media (max-width: 900px) {
  .contacts .contacts-cont a {
    font-size: 3.8rem;
  }
  .contacts .contacts-cont .follow-me {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .contacts .contacts-cont a {
    font-size: 2.2rem;
  }
}

.work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-content h3 {
  color: #101111;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 2.5rem;
  z-index: 9;
  line-height: 1.5;
}

.work-content .work {
  width: 60%;
  margin: 0 auto;
}

.work-content .work .project_btn {
  margin: 50px 0;
  background-color: #eeeeee;
}

.work-content .work a {
  text-decoration: none;
  will-change: auto;
}

.cursor {
  width: 20px;
  height: 20px;
  background: #101111;
  position: absolute;
}

.scroll-wheel {
  height: 30px;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-wheel img {
  position: absolute;
  width: 200px;
  top: -90px;
}

.close-button {
  height: 10px;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: difference;
  z-index: 99;
}

.close-button img {
  position: absolute;
  width: 100px;
  top: 50px;
}

.side-arrow {
  width: 300px;
  position: fixed;
  top: 70vh;
  right: 20px;
}

.side-arrow img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1388px) {
  .side-arrow {
    width: 200px;
    top: 80vh;
  }
}

@media (max-width: 900px) {
  .side-arrow {
    width: 120px;
  }
}

@media (max-width: 500px) {
  .side-arrow {
    width: 100px;
    top: 90vh;
  }
}

.project_btn {
  height: 240px;
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 1s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 1s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn :focus {
  border: none;
}

.project_btn .button-wrapper {
  height: 50px;
  width: 50px;
  background-color: #101111;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn .button-wrapper span {
  color: #eeeeee;
  position: absolute;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  top: 50%;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  z-index: 2;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn .button-wrapper span::after {
  content: "";
  height: 50px;
  width: 50px;
  background-color: #101111;
  border-radius: 100px;
  position: relative;
  top: -48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
}

.project_btn .button-wrapper p {
  margin: 0 60px;
  color: #eeeeee;
  font-family: "MuseoModerno", Montserrat, sans-serif;
  font-size: 7.5rem;
  line-height: 1.5;
  position: relative;
  top: 10px;
  z-index: 2;
  mix-blend-mode: difference;
  -webkit-transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  transition: all 0.4s cubic-bezier(0.64, 0, 0.23, 0.99);
  will-change: auto;
}

.project_btn:hover .button-wrapper {
  height: 100%;
  width: 100%;
  padding: 0 40px;
  -webkit-box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
  box-shadow: 31px 54px 122px -16px rgba(0, 0, 0, 0.41);
}

.project_btn:hover .button-wrapper span {
  color: #101111;
}

.project_btn:hover .button-wrapper span::after {
  content: "";
  background-color: #eeeeee;
}

.project_btn:hover .button-wrapper p {
  margin: 0 80px;
  position: absolute;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  top: 25%;
}

@media (max-width: 1388px) {
  .project_btn {
    height: 140px;
    width: 500px;
  }
  .project_btn .button-wrapper p {
    font-size: 4.5rem;
  }
}

@media (max-width: 800px) {
  .project_btn {
    height: 100px;
    width: 450px;
  }
  .project_btn .button-wrapper p {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  .project_btn {
    height: 70px;
    width: 350px;
  }
  .project_btn .button-wrapper p {
    font-size: 2.5rem;
  }
}

.project-image {
  width: 100vw;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-image .image {
  width: 1200px;
  height: 80%;
  margin: 0 30px;
  background: #2fd420;
  overflow: hidden;
}

.project-image .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (max-width: 600px) {
  .project-image .img {
    margin: 0 30px;
  }
}
/*# sourceMappingURL=style.css.map */